<nav class="navbar navbar-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#/user/{{model.userId}}/course">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">Courses</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <h4>{{model.course.name}}</h4>
    <p>{{model.course.description}}</p>

    <div ng-switch="model.participation">
        <div ng-switch-when="TAKE">
            <a class="btn btn-primary btn-block"
               ng-click="model.enroll()">Enroll</a>
        </div>
        <div ng-switch-when="DROP">
            <a class="btn btn-danger btn-block"
               ng-click="model.quit()">Drop Course</a>
        </div>
        <div ng-switch-when="TEACH">
            <a class="btn btn-primary btn-block"
               ng-click="model.teach()">Teach Course</a>
        </div>
        <div ng-switch-when="CANCEL">
            <a class="btn btn-danger btn-block"
               ng-click="model.cancl()">Stop Teaching Course</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>