<div class="container">
    <h1>Register</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <input ng-model="user.username"
           type="text"
           class="form-control"
           placeholder="Username"/>
    <input ng-model="user.password"
           type="password"
           class="form-control"
           placeholder="Password"/>
    <input ng-model="verify"
           type="password"
           class="form-control"
           placeholder="Verify Password"/>
    <select ng-model="user.role"
            ng-options="x for x in model.roles"
            class="form-control">
    </select>
    <a class="btn btn-primary btn-block"
       ng-click="model.register(user)">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/home">Cancel</a>
</div>