<nav class="navbar navbar-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#/course">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">Courses</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <h4>{{model.course.name}}</h4>
    <p>{{model.course.description}}</p>
</div>

<nav class="navbar navbar-primary navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/home">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>
    </div>
</nav>